.swapContainer {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.tokenLabel {
  border: none !important;
  margin: 10px 0 !important;
}

.switchButton {
  cursor: pointer;
  margin: 10px auto !important;
}

.swapButton {
    margin-top: 20px !important;
}